/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #defffa; /* Light gray background */
  color: #333333; /* Dark gray text */
}

/* Header Styles */
.header {
  background-color: #343a40; /* Dark blue header */
  color: #ffffff;
  text-align: center;
  padding: 1px;
}

/* Navbar Styles */
.navbar {
  background-color: #ebebeb; /* White navbar */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
}

.navbar-brand {
  color: #2980B9;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #333333;
}

.navbar-nav .nav-link:hover {
  color: #2980B9;
}

/* Carousel Styles */
.carousel-item img {
  border-radius: 10px;
}

/* Feature Section Styles */
#feature-section {
  padding: 50px 0;
}

.feature-section-title {
  margin-bottom: 50px;
}

.box {
  background-color: #d1dbe1; 
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.box h5 {
  color: #171616;
}

.boxs {
  background-color: #ecf8ff; 
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.boxs h5 {
  color: #ff0b0b;
}
.boxs h4{
  text-align: center;
  font-weight: bold;
 
}

/* Product Card Styles */
.card {
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #ffffff; /* White card background */
}

.card-title {
  color: #333333;
  font-weight: bold;
}

.card-text {
  color: #666666;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Review Section Styles */
#reviews {
  padding: 50px 0;
}

.card-body {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
 
}

.card-title {
  color: #333333;
  font-weight: bold;
}

.card-subtitle {
  color: #666666;
}

.card-text {
  color: #333333;
}

/* Q&A Section Styles */
#qa {
  padding: 50px 0;
}

.card-header {
  background-color: #ffffff; /* White card header background */
  border: none;
  border-radius: 10px;
}

.card-header h2 button {
  color: #333333;
  font-weight: bold;
  text-align: left;
}

.card-body {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff; /* White card background */
}

/* Contact Form Styles */
#contact {
  padding: 10px 0;
  background-color: #c3cae7; /* Light gray background */
  margin-bottom: 100px;
}

.form-control {
  border: 5px solid rgb(15, 16, 15)1;
  border-radius: 25px;
  width: 1080px;
  height:50px;
}


.btn-primary {
  background-color: #29b93f;
  border: none;
}

.btn-primary:hover {
  background-color: #313a9f;
}
